<h1 class="header">Crear una cuenta con tu correo</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="registerForm">
                <div class="form-group">
                    <label for="email">Correo electr&oacute;nico</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" formControlName="password" id="password" autocomplete>
                    <label class="error">{{errorMessage}}</label>
                    <label class="success">{{successMessage}}</label>
                </div>
                <button type="submit" (click)="tryRegister(registerForm.value)" class="btn btn-primary">Registrarse
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>¿Ya tienes una cuenta? <a [routerLink]="'/login'">Iniciar sesi&oacute;n</a></p>
        </div>
    </div>
</div>
