<footer class="footer-dark bg-gray-500 py-4">
    <div class="container text-center">
        <p class="text-white">Desaf&iacute;o ripley desarrollado por <a class="text-light"
                            href="https://cl.linkedin.com/in/emilio-ferrer" target="_blank">Emilio Ferrer</a>
        </p>
    </div>
</footer>
