<nav class="navbar navbar-dark bg-primary text-secondary mb-2 px-5">
    <a class="navbar-brand" [routerLink]="'/catalog'">
        <span>Desafío Ripley</span>
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link text-white pointer" (click)="logout()" role="button">Cerrar sesi&oacute;n</a>
        </li>
    </ul>
</nav>

