.images-preview-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    visibility: hidden
}

.images-preview-item.is-previous {
    z-index: 1;
    visibility: visible
}

.images-preview-item.is-active {
    z-index: 2;
    visibility: visible
}

.images-preview:not(.is-pristine) .images-preview-item.is-active {
    -webkit-animation: fadeIn .3s ease;
    animation: fadeIn .3s ease
}

.critical-stock-container {
    position: absolute;
    bottom: 8px;
    line-height: 0;
    width: 100%;
    text-align: center
}

.critical-stock-container img {
    width: 60% !important
}

@media (max-width: 544px) {
    .critical-stock-container img {
        width: 80% !important
    }
}

.simple-modal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 4050
}

.simple-modal .slideout__container {
    height: auto;
    min-height: auto;
    -webkit-transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, opacity .2s ease;
    transition: transform .2s ease, opacity .2s ease, -webkit-transform .2s ease;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1
}

.simple-modal-in {
    -webkit-animation: fadeIn .2s ease both;
    animation: fadeIn .2s ease both
}

.simple-modal-out {
    -webkit-animation: fadeOut .2s ease both;
    animation: fadeOut .2s ease both
}

.simple-modal-in .slideout__container, .simple-modal-out .slideout__container {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: 0
}

.simple-modal-header {
    position: relative;
    padding: 10px
}

.simple-modal-close-button {
    background: transparent;
    position: absolute;
    top: 0;
    right: 0
}

.simple-modal-close-button svg {
    width: 10px;
    height: 10px
}

.modal-with-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.modal-with-icon svg {
    height: 60px;
    width: 60px;
    fill: #639
}

.modal-with-icon .modal-container {
    color: #639;
    max-width: 250px;
    text-align: center;
    padding: 10px
}

.modal-with-icon .modal-container p {
    color: #6a6a6a;
    font-weight: 700
}

.modal-with-icon .modal-container .label {
    color: #639
}

.modal-with-icon .modal-container button {
    width: 100%;
    padding: 12px 10px
}

.modal-with-icon .mr-5 {
    margin-right: 5px
}

.modal-with-icon .block {
    display: block
}

.modal-with-icon .font-12 {
    font-size: 12px
}

.wishlist-button {
    position: relative;
    background: none;
    padding: 0;
    border: none
}

.wishlist-button:hover:not([disabled]) {
    cursor: pointer
}

.wishlist-button:hover:not([disabled]) > .wishlist-icon-full.hidden-icon {
    -webkit-animation: show .2s 0s 1, pulse .6s .2s infinite;
    animation: show .2s 0s 1, pulse .6s .2s infinite
}

.wishlist-button svg {
    position: absolute
}

.wishlist-button .hidden-icon {
    pointer-events: none;
    -webkit-animation: hide .2s 0s 1 forwards;
    animation: hide .2s 0s 1 forwards
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    30% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    60% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes show {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@keyframes show {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
    to {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes hide {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1
    }
    to {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

.wishlist-checkbox input:checked + label:before, .wishlist-header.mixed-selection .wishlist-checkbox input + label:before {
    background: #639;
    border-color: transparent;
    text-align: center;
    color: #fff
}

.wishlist-button-product-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 48px;
    border: 1px solid #639
}

.wishlist-button-product-page .wishlist-button-container {
    width: 100%;
    height: 100%
}

.wishlist-button-product-page svg {
    width: 24px;
    height: 20px
}

.wishlist-button-product-page button {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.wishlist-button-quickview {
    position: absolute;
    margin-left: 32px;
    top: 0;
    height: 66px;
    width: 66px
}

@media (max-width: 767px) {
    .wishlist-button-quickview {
        margin-left: 0
    }
}

.wishlist-button-quickview svg {
    width: 50px;
    height: 50px
}

.catalog-product-name-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.catalog-product-name-container .wishlist-button-catalog {
    right: 20px
}

.catalog-product-name-container .wishlist-button-catalog svg {
    width: 20px;
    height: 20px
}

.catalog-product-name-container .wishlist-button-catalog i {
    position: absolute
}

.wishlist {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%
}

.wishlist, .wishlist-pane {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

.wishlist-pane {
    position: relative;
    overflow-y: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.wishlist-list {
    display: block;
    padding: 10px 0
}

.wishlist-loading-screen {
    background: hsla(0, 0%, 100%, .6);
    background-image: url("/images/loading.gif");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1
}

.wishlist-footer {
    border-top: 1px solid #e8e8e8;
    padding: 10px
}

.wishlist-footer button {
    padding: 0 !important;
    display: block;
    width: 100%;
    height: 45px;
    line-height: 45px
}

.wishlist-footer button.is-disabled {
    color: #fff;
    background: #bdaecd !important;
    pointer-events: none
}

.wishlist-footer button.is-disabled:hover {
    background: #634d7b !important
}

.wishlist-footer-actions {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex
}

.wishlist-footer-actions.is-single .footer-action {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.wishlist-footer-actions:not(.is-single) .footer-action:first-child {
    width: 25%;
    padding-right: 10px
}

.wishlist-footer-actions:not(.is-single) .footer-action:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.wishlist-footer svg {
    width: 25px;
    height: 25px;
    fill: #fff;
    padding-right: 10px;
    vertical-align: middle
}

.wishlist-item-row:first-child .wishlist-item:first-child {
    padding-top: 0
}

.wishlist-item-row:last-child .wishlist-item:first-child {
    padding-bottom: 0
}

.wishlist-header {
    margin: 0 0 10px 10px
}

.wishlist-header .wishlist-checkbox span {
    margin-left: 5px;
    color: #639;
    font-size: 12px;
    font-weight: 700
}

.wishlist-header.mixed-selection .wishlist-checkbox input + label:before {
    content: "\AF";
    font-size: 26px;
    font-weight: 700
}

.modal-shopping-bag {
    z-index: 10000 !important;
    overflow: hidden
}

.wishlist-checkbox label {
    cursor: pointer;
    display: inline-block;
    width: 100%;
    position: relative
}

.wishlist-checkbox label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-transition: background .5s ease;
    transition: background .5s ease;
    vertical-align: middle;
    font-family: FontAwesome;
    border-radius: 6px;
    margin-right: 6px;
    border: 2px solid #639;
    background: #fff
}

.wishlist-checkbox input {
    display: none
}

.wishlist-checkbox input:focus {
    outline: none
}

.wishlist-checkbox input:checked + label:before {
    content: "\F00C"
}

.catalog-colors-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    vertical-align: top;
    width: 100%
}

.catalog-colors-option-inner {
    border-radius: 0;
    height: 16px;
    width: 16px
}

@media (max-width: 544px) {
    .catalog-colors-option-inner {
        height: 12px;
        width: 12px
    }
}

.catalog-colors-option-inner.plus-sign {
    font-size: 28px;
    line-height: 16px;
    display: table
}

@media (max-width: 544px) {
    .catalog-colors-option-inner.plus-sign {
        font-size: 24px;
        line-height: 12px
    }
}

.catalog-colors-option-inner.plus-sign:before {
    content: "+"
}

.catalog-colors-option-outer {
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 20px;
    display: inline-block;
    margin: 0 2px 2px;
    padding: 1px;
    position: relative;
    text-align: center;
    -webkit-transition: border .3s ease-in;
    transition: border .3s ease-in;
    width: 20px
}

@media (max-width: 544px) {
    .catalog-colors-option-outer {
        height: 16px;
        width: 16px
    }
}

.catalog-colors-option-outer:hover {
    border-color: #999;
    cursor: pointer
}

.catalog-colors-option-outer.__chosen {
    border-color: #444
}

.catalog-colors-option-outer.__unavailable {
    display: none
}

.catalog-colors-option-outer.__unavailable:before {
    border: .5px solid #9b9b9b;
    content: " ";
    display: block;
    height: 21px;
    left: 9px;
    position: absolute;
    top: -2px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0
}

@media (max-width: 544px) {
    .catalog-colors-option-outer.__unavailable:before {
        left: 7px;
        top: -2px;
        height: 16px
    }
}

.catalog-colors-option-outer.__unavailable:before:hover {
    cursor: default
}

.catalog-product-item {
    text-decoration: none;
    color: inherit
}

.catalog-product-item__container {
    margin-bottom: 30px;
    padding: 0 5px
}

.catalog-product__loading-image img {
    position: absolute;
    width: 30%;
    top: 50%;
    right: 50%;
    -webkit-transform: translateY(-50%) translateX(50%);
    transform: translateY(-50%) translateX(50%)
}

.catalog-product__image-preview {
    position: relative
}

.catalog-product__image-preview--disabled .images-preview-item img {
    opacity: .6;
    -webkit-filter: gray;
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

.catalog-product__image-preview .images-preview {
    height: 100%;
    overflow-x: hidden
}

.catalog-product__image-preview .images-preview-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff
}

.catalog-product__image-preview .images-preview-item img {
    max-width: none;
    max-height: 100%
}

.catalog-product__image-preview .critical-stock-container {
    z-index: 2
}

.catalog-product-details {
    padding: 4px
}

.catalog-product-details__discount-tag, .catalog-product-details__event-img {
    position: absolute;
    z-index: 2;
    right: 0
}

.catalog-product-details__discount-tag {
    width: 60px;
    height: 35px;
    top: -5px;
    border-radius: 3px;
    background-color: #e75353;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    font-weight: 500;
    color: #fff
}

@media (max-width: 544px) {
    .catalog-product-details__discount-tag {
        height: 24px;
        width: 50px;
        font-size: 12px;
        line-height: 24px
    }
}

.catalog-product-details__event-img {
    height: 30px;
    max-height: 30px;
    max-width: 80px;
    top: 35px
}

.catalog-product-details__event-img--alone {
    top: 10px
}

.catalog-product-details__event-img img {
    max-height: 100%;
    max-width: 100%
}

@media (max-width: 544px) {
    .catalog-product-details__event-img {
        top: 22px;
        height: 30px
    }
}

.catalog-product-details__logo-container {
    min-width: 50%
}

.catalog-product-details__logo-container .brand-logo {
    display: block;
    margin: 6px auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0;
    color: #000;
    font-size: 12px
}

.catalog-product-details__logo-container .brand-logo.has-logo {
    height: 18px;
    max-width: 50%;
    margin: 8px 0
}

.catalog-product-details__tags-container {
    width: 100%;
    height: 22px;
    margin: 6px 0
}

.catalog-product-details__tag {
    display: inline-block;
    height: 100%;
    width: 130px;
    max-width: 100%;
    padding: 0 4px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    font-size: 12px
}

.catalog-product-details__name {
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    line-height: 16px;
    font-size: 12px;
    max-height: 30px
}

@media only screen and (max-width: 991px) {
    .catalog-product-details__name {
        line-height: 12px;
        font-size: 10px;
        max-height: 25px
    }
}

.catalog-product-details__prices {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

.catalog-product-details__prices .catalog-prices {
    display: inline-block;
    width: 100%
}

.catalog-product-details__prices .catalog-prices .price-range {
    font-size: 12px
}

.catalog-product-details__prices .catalog-prices__lowest {
    font-weight: 500
}

.catalog-product-details__prices .catalog-prices__line_thru {
    text-decoration: line-through;
    font-weight: 500
}

.catalog-product-details__prices .catalog-prices__list li {
    line-height: 1.3em
}

.catalog-product-details__prices .catalog-prices__list-price {
    font-size: 12px
}

.catalog-product-details__prices .catalog-prices__offer-price {
    font-size: 14px
}

.catalog-product-details__prices .catalog-prices__card-price, .catalog-product-details__prices .catalog-prices__highest {
    font-size: 16px;
    color: #e75353;
    font-weight: 600
}

.catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-details__prices .catalog-prices__highest-image {
    width: auto;
    height: 12px;
    margin-right: 4px
}

.catalog-product-details__prices .catalog-prices__discount-percentage {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px
}

.catalog-product-details__prices .catalog-prices__discount-percentage-tag {
    position: absolute;
    text-align: center;
    background: #e75353;
    right: 0;
    margin-right: 15px;
    line-height: 19px;
    margin: 0;
    padding: 5px 5px 4px 0;
    color: #fff;
    font-size: 14px;
    min-width: 40px;
    z-index: 2
}

.catalog-product-details__prices .catalog-prices__discount-percentage-tag:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(231, 83, 83, 0);
    border-right-color: #e75353;
    border-width: 14px;
    margin-top: -14px
}

.catalog-product-details__prices .catalog-prices__discount-percentage-value {
    padding-right: 10px
}

@media (max-width: 544px) {
    .catalog-product-details__prices {
        width: 100%
    }
    .catalog-product-details__prices .catalog-prices__list-price {
        font-size: 9px
    }
    .catalog-product-details__prices .catalog-prices__offer-price {
        font-size: 10px;
        font-weight: 600
    }
    .catalog-product-details__prices .catalog-prices__card-price, .catalog-product-details__prices .catalog-prices__highest {
        font-size: 12px
    }
    .catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-details__prices .catalog-prices__highest-image {
        width: auto;
        height: 9px
    }
}

.catalog-product-details__colors {
    display: inline-block;
    width: 50%;
    vertical-align: top
}

@media (max-width: 544px) {
    .catalog-product-details__colors {
        width: 100%;
        margin-top: 10px
    }
    .catalog-product-details__colors .catalog-colors-container {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start
    }
    .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
        margin: 0 1px 1px
    }
}

.catalog-product-details__see-more a {
    color: #639;
    font-size: 13px
}

@media (max-width: 544px) {
    .catalog-product-details__see-more a {
        font-size: 12px
    }
}

@media (max-width: 544px) {
    .catalog-product-item.col-xs-6 .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
        pointer-events: none
    }
}

@media (max-width: 544px) {
    .catalog-product-item.col-xs-12 .catalog-product-details__discount-tag {
        width: 60px;
        height: 35px;
        line-height: 35px;
        font-size: 16px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details__event-img {
        height: 30px;
        max-height: 30px;
        max-width: 65px;
        margin-right: 5px;
        top: 35px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices {
        width: auto
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__list-price {
        font-size: 12px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__offer-price {
        font-size: 14px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__card-price, .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__highest {
        font-size: 16px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__card-price-image, .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__prices .catalog-prices__highest-image {
        width: 18px;
        height: 12px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors {
        width: 40%;
        margin-top: 0
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-container {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-container .catalog-colors-option-outer {
        margin: 0 2px 2px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-outer {
        height: 24px;
        width: 24px;
        padding: 1px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-outer.__unavailable:before {
        height: 27px;
        left: 11px;
        top: -3px
    }
    .catalog-product-item.col-xs-12 .catalog-product-details .catalog-product-details__colors .catalog-colors-option-inner {
        height: 20px;
        width: 20px
    }
}

@media (min-width: 992px) {
    .catalog-product .catalog-colors-option-outer {
        height: 24px;
        width: 24px;
        padding: 1px
    }
    .catalog-product .catalog-colors-option-outer.__unavailable:before {
        height: 30px;
        left: 11px
    }
    .catalog-product .catalog-colors-option-inner {
        height: 20px;
        width: 20px
    }
}

.gallery-container {
    width: -webkit-calc(100% - 64px);
    width: calc(100% - 64px);
    margin-left: 64px;
    position: relative;
    min-height: 250px
}

.gallery-container .item, .gallery-container img {
    text-align: center;
    width: auto;
    max-height: 750px
}

.gallery-container .item[src*=no-picture], .gallery-container img[src*=no-picture] {
    max-height: 400px
}

.gallery-container .carousel-control {
    -webkit-transition: left .2s ease-in-out, right .2s ease-in-out, opacity .1s ease-in-out;
    transition: left .2s ease-in-out, right .2s ease-in-out, opacity .1s ease-in-out;
    opacity: 0
}

.gallery-container .carousel-control[data-event=prev] {
    left: -40px;
    z-index: 1
}

.gallery-container .carousel-control[data-event=next] {
    right: -40px
}

.gallery-container:hover .carousel-control[data-event=prev] {
    left: 0;
    opacity: 1
}

.gallery-container:hover .carousel-control[data-event=next] {
    right: 0;
    opacity: 1
}

.gallery-container.__hidden-thumbnails {
    margin: 0 auto
}

.product-image-previews {
    width: 64px;
    text-align: center;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 2;
    background-color: #fff
}

.product-image-previews img {
    width: 100%;
    vertical-align: middle
}

.product-image-previews li {
    padding: 1px;
    height: 54px;
    width: 54px;
    line-height: 54px;
    overflow: hidden;
    margin-bottom: 5px;
    position: relative
}

.product-image-previews li:first-child img {
    visibility: visible !important
}

.product-image-previews li.is-active {
    border: 1px solid #ccc;
    padding: 0
}

.product-image-previews.__hidden {
    display: none
}

.product-images {
    overflow: hidden;
    line-height: 0
}

.product-images .event-img {
    top: 20px;
    right: 35px;
    position: absolute
}

.product-images .event-img img {
    height: 35px
}

@media (max-width: 767px) {
    .product-images .event-img {
        top: 85px
    }
}

.product-images .critical-stock-container {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 15px
}

@media (max-width: 767px) {
    .product-carousel-container {
        width: 100%;
        margin-left: 0;
        text-align: center
    }
    .product-carousel-container .carousel-control[data-event=prev] {
        left: 0;
        opacity: 1
    }
    .product-carousel-container .carousel-control[data-event=next] {
        right: 0;
        opacity: 1
    }
    .product-image-previews {
        display: block;
        text-align: center;
        float: none;
        width: 100%
    }
    .product-image-previews li {
        display: inline-block
    }
}

.product-size {
    clear: both
}

.product-size-loading {
    background-position: 50%;
    background-size: 100px;
    height: 380px;
    -webkit-transition: opacity .4s ease;
    transition: opacity .4s ease;
    width: 100%
}

.product-size-loading.__hide {
    height: 0;
    opacity: 0;
    visibility: hidden
}

.product-size-link {
    border: 1px solid #70578b;
    color: #70578b;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
    text-align: center
}

.product-size-link-text, .product-size-ruler {
    display: inline-block;
    fill: #70578b;
    vertical-align: middle
}

@media (max-width: 767px) {
    .product-size-link-text, .product-size-ruler {
        height: 32px;
        line-height: 32px
    }
}

@media (min-width: 768px) {
    .product-size-link-text, .product-size-ruler {
        height: 40px;
        line-height: 40px
    }
}

@media (max-width: 767px) {
    .product-size-ruler {
        width: 32px
    }
}

@media (min-width: 768px) {
    .product-size-ruler {
        width: 40px
    }
}

.product-size-container {
    background-color: #fff;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    overflow: hidden;
    position: fixed;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 999
}

@media (max-width: 767px) {
    .product-size-container {
        bottom: 0;
        top: 0;
        width: 100%
    }
}

@media (min-width: 767px) {
    .product-size-container {
        right: 50%;
        top: 50%;
        height: 600px;
        margin-top: -300px;
        width: 740px;
        margin-right: -370px
    }
}

@media (min-width: 920px) {
    .product-size-container {
        margin-right: -450px;
        margin-top: -300px;
        height: 600px;
        width: 900px
    }
}

.product-size-header {
    background-color: #232322;
    color: #fff;
    font-weight: 700;
    margin-bottom: 8px;
    text-align: left
}

@media (max-width: 767px) {
    .product-size-header {
        padding: 10px
    }
}

@media (min-width: 768px) {
    .product-size-header {
        color: #000;
        padding: 10px 20px
    }
}

.product-size-header-close {
    font-size: 20px;
    position: absolute
}

@media (max-width: 767px) {
    .product-size-header-close {
        fill: #fff;
        height: 18px;
        right: 22px;
        top: 21px;
        width: 18px
    }
}

@media (min-width: 768px) {
    .product-size-header-close {
        fill: #fff;
        height: 15px;
        right: 15px;
        top: 15px;
        width: 15px
    }
}

.product-size-header-close:hover {
    cursor: pointer
}

.product-size-header-ruler {
    fill: #fff;
    float: left;
    height: 42px;
    line-height: 60px;
    margin-right: 6px;
    width: 52px
}

@media (min-width: 768px) {
    .product-size-header-ruler {
        height: 60px;
        margin-right: 12px
    }
}

.product-size-header-title {
    color: #fff;
    margin: 0
}

@media (max-width: 767px) {
    .product-size-header-title {
        padding: 10px
    }
}

@media (min-width: 768px) {
    .product-size-header-title {
        font-size: 20px;
        line-height: 60px;
        margin-bottom: 4px;
        padding-left: 8px
    }
}

.product-size-content {
    height: 90%;
    overflow: auto;
    padding: 8px
}

@media (min-width: 420px) {
    .product-size-content {
        padding: 8px 30px
    }
}

@media (min-width: 768px) {
    .product-size-content {
        height: 500px
    }
}

.product-size-content-copy {
    text-align: center
}

.product-size-table {
    margin: 0 auto;
    table-layout: fixed
}

@media (max-width: 767px) {
    .product-size-table {
        width: 100%
    }
}

@media (min-width: 768px) {
    .product-size-table {
        width: 600px
    }
}

.product-size-table-header {
    background-color: #ddd;
    border: 1px solid gray;
    border-bottom: none
}

.product-size-table-row {
    cursor: pointer
}

.product-size-table-row.is-disabled {
    color: #d0d0d0;
    cursor: default
}

.product-size-table-row.is-selected {
    background-color: #639;
    color: #fff
}

.product-size-table-row:hover:not(.is-selected) {
    background-color: #d1c1e0
}

.product-size-table-cell {
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    font-size: 15px;
    height: 40px;
    text-align: center;
    min-width: 54px
}

.product-size-table-cell.__header {
    cursor: default
}

.product-size-table-cell.__header:hover {
    background-color: #dfdfdf;
    color: #333
}

@media (min-width: 767px) {
    .product-size-table-cell:hover {
        background-color: #639;
        color: #fff
    }
}

.product-size-table-body {
    border: 1px solid #aaa
}

.product-size-footer {
    text-align: center
}

@media (max-width: 767px) {
    .product-size-footer {
        padding: 10px;
        margin-bottom: 40px
    }
}

@media (min-width: 768px) {
    .product-size-footer {
        padding: 14px 30px
    }
}

.product-size-footer-row {
    display: inline-block;
    padding-right: 6px
}

.product-size-footer-link {
    color: #70578b;
    text-decoration: underline
}

.product-size-no-table {
    background-color: #f1f1f1;
    border-radius: 4px;
    font-weight: 100;
    padding: 14px;
    text-align: center
}

.product-size .brand-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
    margin: 18px auto;
    text-align: center
}

.product-size .brand-logo.has-logo {
    height: 36px;
    margin: 30px auto 0;
    width: 180px
}

.product-size-converter {
    font-weight: 400;
    padding: 10px 0 15px;
    text-transform: uppercase;
    text-align: left;
    color: #70578b
}

.product-size__slideout.slideout {
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 10000
}

.product-size__slideout.slideout .slideout__container {
    background: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.product-size__slideout.slideout.__fade {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0
}

.product-colors-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    vertical-align: top;
    width: 100%
}

.product-colors-option-outer {
    border: 1px solid #ccc;
    height: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 8px 0 0;
    padding: 0;
    position: relative;
    width: 46px
}

@media (max-width: 544px) {
    .product-colors-option-outer {
        height: 46px;
        width: 46px
    }
}

.product-colors-option-outer .product-colors-option-inner {
    border-radius: 0;
    height: 100%;
    width: 100%
}

.product-colors-option-outer:hover {
    border-color: #8b5dbc;
    cursor: pointer
}

.product-colors-option-outer.__chosen {
    border-color: #e75353;
    border-width: 2px
}

.product-colors-option-outer.__unavailable {
    opacity: .4
}

.product-colors-option-outer.__unavailable:before {
    border: .5px solid #9b9b9b;
    content: " ";
    display: block;
    height: 40px;
    left: 20px;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 0
}

.product-colors-option-outer.__unavailable:before:hover {
    cursor: default
}

.use-desktop-options .product-options-desktop-wrapper {
    display: inherit
}

.use-desktop-options .product-options-mobile-wrapper {
    display: none
}

@media (max-width: 991px) {
    .product-options {
        width: 100%
    }
}

.product-options .custom-select {
    margin-bottom: 6px;
    border: none;
    text-align: left
}

.product-options .custom-select .custom-select-title {
    color: #70578b;
    font-weight: 400;
    margin-bottom: 5px;
    text-transform: uppercase
}

.product-options .custom-select input {
    width: 100%;
    height: 100%;
    visibility: hidden
}

.product-options .custom-select .radio-item {
    background-color: #fff;
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    width: auto;
    padding: 0
}

.product-options .custom-select .radio-item:last-child {
    margin-right: 0
}

.product-options .custom-select .item-radio {
    display: none
}

.product-options .custom-select label {
    cursor: pointer;
    -webkit-transition: border-color .3s ease;
    transition: border-color .3s ease;
    -webkit-transition-property: border-color, color, background;
    transition-property: border-color, color, background;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    border: 1px solid #e8e8e8;
    line-height: 40px;
    text-align: center;
    height: 40px;
    font-size: 13px;
    font-weight: 400;
    padding: 0 15px
}

.product-options .custom-select .is-disabled label {
    border-style: dashed;
    background: #f7f7f7;
    color: #cfcfcf
}

.product-options .custom-select .is-selected label {
    border-width: 2px;
    line-height: 38px;
    border-color: #e75353
}

.product-options .custom-select .is-selected.is-disabled label {
    border-style: dotted;
    border-color: #f3adad
}

.product-options .custom-select.radio-box-wide label {
    min-width: 100px
}

.product-options .custom-select.radio-box label {
    min-width: 40px
}

@media (max-width: 544px) {
    .product-options .custom-select .radio-item {
        display: inline-block;
        float: none;
        margin-right: 5px !important;
        margin-left: 5px
    }
}

.product-options-mobile-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #f9f9f9
}

.product-options-mobile-options .custom-select-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}

.product-options-mobile-options .custom-select-wrapper label {
    font-size: 12px;
    color: #70578b;
    font-weight: 700;
    margin: 0 0 0 10px
}

.product-options-mobile-options .custom-select-wrapper .custom-select {
    margin: 0
}

.product-options-mobile-options .separator {
    background-color: #ccc;
    padding: 0 1px;
    margin: 0 5px
}

.product-options-mobile-options .product-size-converter {
    display: none
}

.product-options-mobile-wrapper {
    display: none;
    width: 100%;
    position: fixed;
    padding: 15px 10px;
    bottom: 42px;
    left: 0;
    background: #f9f9f9;
    -webkit-box-shadow: 0 4px 20px 0 #4b4a4a;
    box-shadow: 0 4px 20px 0 #4b4a4a;
    z-index: 40
}

@media (max-width: 544px) {
    .product-options-mobile-wrapper {
        display: inherit
    }
}

.product-options-mobile-wrapper .product-size-converter {
    padding: 10px 0 0
}

.product-options-mobile-wrapper-noStickyFilters {
    display: none
}

.product-options-desktop-wrapper {
    display: inherit
}

@media (max-width: 544px) {
    .product-options-desktop-wrapper {
        display: none
    }
}

.product-options-desktop-wrapper-noStickyFilters {
    display: inherit
}

@media (min-width: 544px) {
    .product-options > .size-chart-wrapper {
        display: none
    }
}

.product-warranties__modal-wrapper .slideout__container {
    width: 500px
}

.product-warranties__modal-wrapper .slideout__body {
    margin-top: -50px
}

.product-warranties-modal__wrapper {
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

@media (max-width: 500px) {
    .product-warranties-modal__wrapper {
        width: 100%
    }
}

.product-warranties-modal__header {
    margin-top: 30px
}

.product-warranties-modal__header img {
    width: 100px
}

.product-warranties-modal__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0 50px;
    width: 100%
}

@media (max-width: 544px) {
    .product-warranties-modal__content {
        padding: 0 25px
    }
}

.product-warranties-modal__content .info {
    color: #70578b;
    margin-bottom: 15px
}

.product-warranties-modal__content .info h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center
}

.product-warranties-modal__content .info p {
    text-align: justify;
    margin-bottom: 10px;
    font-size: 9px
}

.product-warranties-modal__content .info p a {
    text-decoration: underline;
    cursor: pointer
}

.product-warranties-modal__content .options {
    width: 100%;
    font-size: 14px;
    margin-bottom: 40px
}

.product-warranties-modal__content .options .radio-item label {
    color: #70578b;
    font-size: inherit
}

.product-warranties-modal__content .options .item-radio {
    color: #fff
}

.product-warranties-modal__content .button {
    margin-bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.product-warranties-modal__content .button button {
    font-size: 14px;
    padding: 10px 20px;
    background: #e75353;
    width: 200px
}

.product-warranties-modal .slideout {
    overflow: hidden;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    z-index: 10000;
    background-color: hsla(0, 0%, 100%, .6)
}

@media (max-width: 600px) {
    .product-warranties-modal .slideout {
        overflow: auto
    }
}

.product-warranties-modal .slideout__container {
    background: none;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.product-warranties-modal .slideout__body {
    width: auto;
    -webkit-box-shadow: 0 1px 20px 1px #818181;
    box-shadow: 0 1px 20px 1px #818181
}

.product-warranties-modal .slideout.__fade {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0
}

.marketing-zone.is-loading {
    text-align: center
}

.marketing-zone.is-loading img {
    max-width: 100px
}

.arrow-up {
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 25px solid #efefef;
    position: absolute;
    top: 0;
    -webkit-transform: translateX(-50%) translateY(-100%);
    transform: translateX(-50%) translateY(-100%)
}

.quickview-container {
    padding: 4px 10px 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #efefef;
    margin-bottom: 8px
}

.quickview-container-pane {
    color: #333;
    overflow-y: auto
}

.quickview-container #product-page-button {
    color: #639
}

@media (max-width: 544px) {
    .quickview-container #product-page-button {
        font-size: 12px
    }
}

.quickview-container .critical-stock-container {
    bottom: 8px
}

.quickview-container .product-buy-options {
    margin-bottom: 14px
}

.quickview-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}

.quickview-header h3 {
    margin: 4px 0
}

@media (max-width: 544px) {
    .product-buy-options {
        position: static;
        bottom: 0;
        left: 0;
        z-index: 40;
        margin-top: 0
    }
    .product-buy-options button {
        border-radius: 0
    }
}

.is-loading-overlay {
    background: hsla(0, 0%, 100%, .6);
    background-image: url("/images/loading.gif");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.title-quickview {
    color: #6a6a6a;
    font-size: 14px;
    text-decoration: none
}

.ProductSpec {
    font-size: 12px
}

@media (max-width: 768px) {
    .ProductSpec {
        margin-bottom: 10px
    }
}

.BuyButton {
    font-size: 12px;
    display: block;
    width: 100%;
    height: 40px
}

.ProductItem {
    display: block;
    width: 100%;
    padding: 20px 5px;
    border-bottom: 1px solid #dedede
}

.catalog-container .ProductItem:first-child {
    padding-top: 0
}

.ProductItem__Row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.ProductItem__Row .brand-logo {
    display: block;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0;
    color: #000;
    font-size: 12px
}

.ProductItem__Row .ProductItem__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: auto;
    -ms-flex-align: auto;
    align-items: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-height: 44px
}

.ProductItem__Row .ProductItem__buttons .col-md-7 {
    padding: 0
}

.ProductItem__Row .ProductItem__buttons .col-md-5 {
    padding-bottom: 4px;
    padding-left: 0;
    margin-top: 10px;
    padding-right: 0
}

.ProductItem__Row .ProductItem:first-child {
    padding-top: 0
}

.ProductItem:last-child {
    border-bottom: none
}

.ProductItem__Name, .ProductItem__Name:active, .ProductItem__Name:hover, .ProductItem__Name:link, .ProductItem__Name:visited {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 14px;
    line-height: 1.2em;
    margin-bottom: 20px
}

.ProductItem__SeeMore, .ProductItem__SeeMore:active, .ProductItem__SeeMore:hover, .ProductItem__SeeMore:link, .ProductItem__SeeMore:visited {
    color: #70578b;
    font-size: 12px;
    margin: 0;
    display: inline-block
}

.ProductItem__LeftPrice {
    position: absolute;
    bottom: 0
}

.ProductItem__LeftPrice .catalog-prices__list-price {
    font-size: 14px
}

.ProductItem__LeftPrice .catalog-prices__card-price, .ProductItem__LeftPrice .catalog-prices__offer-price {
    font-size: 16px
}

.ProductItem__LeftPrice .catalog-prices__discount-percentage {
    width: 50px;
    margin-left: 0;
    margin-right: 60%;
    right: 0;
    left: 0;
    top: -40px
}

.ProductItem__LeftPrice .catalog-prices__discount-percentage-value {
    padding-right: 0;
    padding-left: 10px
}

.ProductItem__LeftPrice .catalog-prices__discount-percentage-tag:after {
    right: -27%;
    border-right: none;
    border-left: 14px solid #e75353
}

.ProductItem__RightPrice {
    margin-bottom: 20px;
    display: none
}

.ProductItem__LeftTagsContainer {
    position: absolute;
    bottom: 0;
    margin-bottom: 4px
}

.ProductItem__RightTagsContainer {
    display: none
}

.ProductItem_Tag {
    height: 100%;
    width: 130px;
    max-width: 100%;
    padding: 0 4px;
    border: 1px solid #000;
    border-radius: 3px;
    text-align: center;
    line-height: 22px;
    font-size: 12px
}

@media (max-width: 544px) {
    .ProductItem__BuyButton--disabled {
        margin-left: -80%
    }
}

@media (min-width: 768px) {
    .ProductItem__Name, .ProductItem__Name:active, .ProductItem__Name:hover, .ProductItem__Name:link, .ProductItem__Name:visited {
        width: 85%
    }
    .ProductItem__LeftPrice {
        display: none
    }
    .catalog-prices__list .catalog-prices__discount-percentage {
        margin-right: 30px
    }
    .ProductItem {
        padding-top: 30px;
        padding-left: 30px
    }
    .ProductItem__Row .ProductItem__buttons {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end
    }
    .ProductItem__Row .ProductItem__buttons .col-md-5 {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0
    }
    .ProductItem__RightPrice {
        display: block
    }
    .ProductItem__RightPrice.catalog-product-details__prices {
        width: 100%
    }
    .ProductItem__LeftTagsContainer {
        display: none
    }
    .ProductItem__RightTagsContainer {
        display: block;
        width: 100%;
        height: 22px;
        margin: 6px 0
    }
    .space--between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .flexs, .space--between {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@-webkit-keyframes fadeInEnter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes fadeInEnter {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.quickview-container {
    -webkit-transition: max-height .4s ease-in-out, opacity .4s ease-out;
    transition: max-height .4s ease-in-out, opacity .4s ease-out
}

.quickview-on-enter {
    max-height: 1280px;
    -webkit-animation-name: fadeInEnter;
    animation-name: fadeInEnter;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1
}

.quickview-on-exit {
    -webkit-transition: max-height .4s ease-in-out, opacity .4s ease-out;
    transition: max-height .4s ease-in-out, opacity .4s ease-out;
    opacity: 0;
    max-height: 0;
    visibility: hidden
}

.catalog-grid > .row {
    margin: auto 0
}

.catalog-container {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.product-description {
    height: 100px
}

.images-preview {
    position: absolute;
    width: 100%;
    max-height: 100%;
    top: 0;
    left: 0
}

@media (min-width: 1200px) {
    .col-lg-custom {
        width: 20%
    }
}

.catalog-header .header-bottom-container {
    margin-top: 15px;
    margin-bottom: 10px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.catalog-header .header-bottom-container .filter-by {
    padding-left: 10px;
    float: left;
    margin-top: 13px
}

.catalog-header .header-bottom-container.fixed-peek {
    padding-top: 55px !important;
    background: #f0f0f0;
    padding: 0;
    z-index: 10;
    position: relative
}

.no-touch .catalog-header .header-bottom-container {
    padding-top: 0 !important
}

.no-touch .catalog-header .header-bottom-container .row.no-gutter.is-shown {
    margin-top: 12px
}

@media (max-width: 991px) {
    .no-touch .catalog-header .header-bottom-container .row.no-gutter.is-shown {
        margin-top: 7px
    }
}

.no-touch .catalog-header .header-bottom-container.fixed-hidden {
    white-space: nowrap;
    margin-top: -10px;
    margin-bottom: -10px
}

.no-touch .catalog-header .header-bottom-container.fixed-peek {
    padding-top: 42px !important;
    background: #f0f0f0;
    padding: 0;
    z-index: 10;
    position: relative
}

.no-touch .catalog-header .header-bottom-container.fixed-peek > .container > .row.no-gutter {
    margin-top: 12px
}

@media (max-width: 991px) {
    .no-touch .catalog-header .header-bottom-container.fixed-peek > .container > .row.no-gutter {
        margin-top: 7px
    }
}

.touch .catalog-header .header-bottom-container.fixed-peek {
    padding-top: 60px !important;
    background: #f0f0f0;
    padding: 0;
    z-index: 10;
    position: relative
}

.touch .catalog-header .header-bottom-container.fixed-hidden {
    white-space: nowrap;
    margin-top: -10px;
    margin-bottom: -10px
}

.touch .catalog-header .header-bottom-container > .container {
    height: 32px
}

@media (max-width: 991px) {
    .touch .catalog-header .header-bottom-container > .container {
        height: 65px
    }
}

.touch .catalog-header .header-bottom-container > .container > .row {
    height: inherit;
    padding: 5px 0;
    overflow: hidden
}

.catalog-header .filters-pills-container {
    overflow: hidden
}

.no-touch .catalog-header .filters-pills-container {
    left: 0 !important;
    display: inline
}

.no-touch .catalog-header .filters-pills-container .clear-filter {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
    background: #fff
}

.no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
    color: #6a6a6a;
    text-decoration: none
}

@media (max-width: 991px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

@media (max-width: 767px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

@media (max-width: 544px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

.touch .catalog-header .filters-pills-container {
    height: 40px
}

@media (max-width: 991px) {
    .touch .catalog-header .filters-pills-container {
        width: -webkit-calc(100% + 15px);
        width: calc(100% + 15px);
        position: absolute;
        top: -4px;
        padding-right: 75px;
        height: 80px
    }
}

.touch .catalog-header .filters-pills-container .clear-filter {
    background: #fff
}

@media (max-width: 991px) {
    .touch .catalog-header .filters-pills-container .clear-filter {
        border: 1px solid #d0d0d0;
        border-radius: 2px;
        text-align: center;
        width: 50%;
        margin: 0 auto
    }
}

.touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
    color: #6a6a6a !important;
    text-decoration: none;
    font-size: 11px
}

.touch .catalog-header .filters-pills-container .clear-filter.peeking {
    display: none
}

.catalog-header .filters-pills {
    margin-left: 15px
}

.no-touch .catalog-header .filters-pills {
    display: inline
}

.no-touch .catalog-header .filters-pills li {
    margin-top: 10px
}

@media (max-width: 991px) {
    .touch .catalog-header .filters-pills {
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px
    }
}

.tooltip-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.tooltip-container .arrow-up {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-top: -20px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #f6f5fb;
    z-index: 10
}

.tooltip-container .arrow-up .empty {
    position: relative;
    top: 9px;
    right: 13px;
    width: 0;
    border-bottom: 13px solid #f6f5fb;
    border-right: 13px solid transparent;
    border-left: 13px solid transparent;
    z-index: 11
}

.tooltip-container .tooltip {
    position: relative;
    right: 0;
    width: 270px;
    background-color: #f6f5fb;
    margin-right: 6px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    z-index: 9
}

.tooltip-container .tooltip.border {
    border: 1px solid #ccc
}

.tooltip-container .tooltip.shadow {
    -webkit-box-shadow: 0 11px 11px #00000053;
    box-shadow: 0 11px 11px #00000053
}

.tooltip-container .tooltip-text {
    padding: 10px;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 16px;
    color: #464646
}

.tooltip-container .tooltip-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 7px 0 15px 6px
}

.tooltip-container .tooltip-data .stepper {
    width: 25px
}

.tooltip-container .tooltip-data .stepper button {
    width: 25px;
    height: 25px;
    background: transparent;
    color: #666;
    border-radius: 100%;
    line-height: 25px;
    padding: 0;
    font-size: 26px;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.tooltip-container .tooltip-data .stepper button:hover {
    color: #666
}

.tooltip-container .tooltip-data .stepper-value {
    text-align: center;
    height: 12px;
    line-height: 13px;
    font-size: 12px
}

.tooltip-container .tooltip-data .tooltip-image {
    margin: 0 0 0 10px;
    height: 66px;
    width: 84px
}

.tooltip-container .tooltip-data .tooltip-image > img {
    height: 66px
}

.tooltip-container .tooltip-data .tooltip-prices {
    margin: 0 0 0 10px;
    font-size: 16px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices {
    display: inline-block;
    width: 100%
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices .price-range {
    font-size: 12px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__lowest {
    font-weight: 500
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__line_thru {
    text-decoration: line-through;
    font-weight: 500
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__list li {
    line-height: 1.3em
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__list-price {
    font-size: 12px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__offer-price {
    font-size: 14px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__card-price, .tooltip-container .tooltip-data .tooltip-prices .catalog-prices__highest {
    font-size: 16px;
    color: #e75353;
    font-weight: 600
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__card-price-image, .tooltip-container .tooltip-data .tooltip-prices .catalog-prices__highest-image {
    width: auto;
    height: 12px;
    margin-right: 4px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__discount-percentage {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__discount-percentage-tag {
    position: absolute;
    text-align: center;
    background: #e75353;
    right: 0;
    margin-right: 15px;
    line-height: 19px;
    margin: 0;
    padding: 5px 5px 4px 0;
    color: #fff;
    font-size: 14px;
    min-width: 40px;
    z-index: 2
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__discount-percentage-tag:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(231, 83, 83, 0);
    border-right-color: #e75353;
    border-width: 14px;
    margin-top: -14px
}

.tooltip-container .tooltip-data .tooltip-prices .catalog-prices__discount-percentage-value {
    padding-right: 10px
}

@media (max-width: 414px) {
    .tooltip-container .tooltip {
        right: -30px;
        width: 265px
    }
}

@media (min-width: 768px) {
    .tooltip-container .tooltip {
        right: 0
    }
}

.blackdoor-tooltip-container {
    margin-top: 5px
}

.blackdoor-tooltip-container .tooltip-container .tooltip-text {
    font-size: 14px;
    color: #6a148e
}

#backdoor-catalogo .ripley-checkbox.disabled {
    opacity: .6;
    -webkit-transition: visibility 0s 1s, opacity 1s cubic-bezier(.04, .6, 1, 1.01);
    transition: visibility 0s 1s, opacity 1s cubic-bezier(.04, .6, 1, 1.01)
}

#backdoor-catalogo .ripley-checkbox.disabled label:before {
    content: "\F068";
    text-align: center
}

.layout-switch {
    height: 40px;
    width: 40px;
    padding: 4px;
    background: #fff;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0;
    font-size: 0;
    line-height: 0
}

.layout-switch__square-container {
    display: inline-block;
    overflow: hidden;
    width: 50%;
    height: 50%;
    padding: 1px;
    border: none
}

.layout-switch__square {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc
}

.layout-switch__square:last-of-type {
    border: 1px solid #8b8b8b
}

.layout-switch--two-cols .layout-switch__square-container:nth-of-type(odd) {
    width: 100%
}

.layout-switch--two-cols .layout-switch__square-container:nth-of-type(2n) {
    display: none
}

.catalog-header > div .container {
    padding: 0
}

.catalog-header .header-top-container {
    margin-top: 10px;
    margin-bottom: 20px
}

.touch .catalog-header .header-top-container {
    margin-bottom: 10px
}

@media (max-width: 991px) {
    .catalog-header .header-top-container {
        margin-top: 10px
    }
}

.catalog-header .header-bottom-container {
    margin-bottom: 15px
}

.catalog-header .header-bottom-container .filter-by {
    float: left;
    padding-left: 9px
}

.no-touch .catalog-header .header-bottom-container {
    padding-top: 0 !important
}

.touch .catalog-header .header-bottom-container > .container {
    height: 32px
}

.touch .catalog-header .header-bottom-container > .container > .row {
    height: inherit;
    padding: 5px 0;
    overflow: hidden
}

@media (max-width: 544px) {
    .touch .catalog-header .header-bottom-container > .container {
        height: 57px
    }
}

@media (max-width: 991px) {
    .touch .catalog-header .header-bottom-container > .container {
        height: 65px
    }
}

.catalog-header .header-bottom-container.hide-clear-filters-btn {
    height: 25px
}

.catalog-header .header-bottom-container.hide-clear-filters-btn .container {
    height: 29px
}

.catalog-header .is-fixed {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 11;
    display: inline-block;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -webkit-transform: translateZ(0) translateY(-120px);
    transform: translateZ(0) translateY(-120px)
}

.catalog-header .is-fixed .container {
    padding: 0 15px
}

.catalog-header .is-fixed .sticky-header-top-container {
    margin: 0;
    padding: 10px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    z-index: 11;
    position: relative
}

.catalog-header .is-fixed .sticky-header-bottom-container {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    background: #f0f0f0;
    margin: 0 !important;
    -webkit-transform: translateZ(0) translateY(-185px);
    transform: translateZ(0) translateY(-185px);
    z-index: 10;
    position: relative
}

.catalog-header .custom-select {
    height: 40px;
    line-height: 30px;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.catalog-header .custom-select select {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%
}

.catalog-header .filters-pills-container {
    overflow: hidden
}

@media only screen and (max-width: 991px) {
    .catalog-header .filters-pills-container {
        left: 0;
        padding: 0 20px 0 0;
        width: 100%
    }
}

.no-touch .catalog-header .filters-pills-container {
    left: 0 !important;
    display: inline
}

.no-touch .catalog-header .filters-pills-container .clear-filter {
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    margin-top: 15px;
    background: #fff
}

@media (max-width: 991px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

@media (max-width: 767px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

@media (max-width: 544px) {
    .no-touch .catalog-header .filters-pills-container .clear-filter .clear-filters-header {
        font-size: 11px
    }
}

.touch .catalog-header .filters-pills-container {
    height: 40px
}

.touch .catalog-header .filters-pills-container .clear-filter {
    background: #fff
}

@media (max-width: 991px) {
    .touch .catalog-header .filters-pills-container {
        width: -webkit-calc(100% + 15px);
        width: calc(100% + 15px);
        position: absolute;
        top: -4px;
        height: 80px
    }
}

.catalog-header .filters-pills-container.hide-clear-filters-btn {
    height: 28px
}

.catalog-header .filters-pills {
    margin-left: 15px
}

.no-touch .catalog-header .filters-pills {
    display: inline
}

.no-touch .catalog-header .filters-pills li {
    margin-top: 10px
}

@media (max-width: 991px) {
    .touch .catalog-header .filters-pills {
        white-space: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        padding-bottom: 10px
    }
}

.catalog-header .pagination {
    vertical-align: top;
    float: right
}

.catalog-header button.catalog-filters-toggle.btn-clear {
    padding: 0 30px;
    width: 160px;
    height: 40px;
    font-size: 14px;
    line-height: 40px;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    margin-right: 10px
}

.catalog-header .order-by-select {
    display: inline-block;
    vertical-align: top
}

.catalog-header .order-by-select .custom-select {
    display: inline-block;
    margin-left: 0;
    width: 180px
}

@media (max-width: 991px) {
    .catalog-header .filter-buttons .catalog-filters-toggle.btn-clear, .catalog-header .filter-buttons .order-by-select {
        width: 49%
    }
    .catalog-header .filter-buttons .order-by-select .custom-select {
        width: 100%
    }
}

@media (max-width: 544px) {
    .catalog-header .filter-buttons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .catalog-header .filter-buttons .catalog-filters-toggle.btn-clear {
        -webkit-box-flex: 1;
        -ms-flex: 1 1;
        flex: 1 1;
        padding: 0 10px;
        margin-right: 0;
        border-right: none;
        border-radius: none
    }
    .catalog-header .filter-buttons .order-by-select {
        -webkit-box-flex: 2;
        -ms-flex: 2 1;
        flex: 2 1
    }
}

.catalog-header .is-fixed {
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 11;
    display: inline-block;
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -webkit-transform: translateZ(0) translateY(-120px);
    transform: translateZ(0) translateY(-120px)
}

.catalog-header .is-fixed .container {
    padding: 0 15px
}

.catalog-header .is-fixed .event-logo img {
    display: inline-block
}

.catalog-header .is-fixed .header-top-container {
    margin: 0;
    padding: 17px 0;
    background: #f8f8f8;
    border-bottom: 1px solid #ddd;
    z-index: 11;
    position: relative
}

.catalog-header .is-fixed .header-bottom-container {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    background: #f0f0f0;
    margin: 0 !important;
    -webkit-transform: translateZ(0) translateY(-185px);
    transform: translateZ(0) translateY(-185px);
    z-index: 10;
    position: relative
}

.catalog-header .event-logo {
    display: none
}

.catalog-header .event-logo img {
    max-height: 40px
}

.catalog-header .is-animated {
    -webkit-transition: -webkit-transform .2s ease-in-out;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out
}

.catalog-header .is-shown {
    -webkit-transform: translateZ(0) translateY(0) !important;
    transform: translateZ(0) translateY(0) !important
}

.order-by-select span {
    display: none
}

.catalog-page .catalog-facets .has-scrollbar ul, .slideout .catalog-facets .has-scrollbar ul {
    padding-right: 20px
}

.catalog-page__search-results {
    line-height: 40px;
    min-height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 16px;
    padding-top: 10px
}

@media (max-width: 767px) {
    .catalog-page__search-results {
        border: none;
        margin-bottom: 0
    }
}

.catalog-page__order-by-select {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: end;
    height: 40px;
    font-size: 14px;
    overflow: hidden
}

.catalog-page__order-by-select .custom-select {
    line-height: 30px;
    height: 100%
}

.catalog-page__results-text {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 10px
}

.catalog-page__product-grid--with-sidebar {
    padding: 0
}

.catalog-page__page-count {
    text-align: right
}

.catalog-page__with-sidebar-filters {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px
}

@media (min-width: 992px) {
    .catalog-page__with-sidebar-filters {
        display: none
    }
}

.catalog-page__footer-pagination {
    text-align: center
}

.product-marketplace-footer img {
    height: 30px;
    padding-top: 10px;
    min-height: 0;
    visibility: visible;
    vertical-align: middle;
    margin: 0 5px 0 0
}

.catalog-page__layout-switch {
    -ms-flex-preferred-size: 50px;
    flex-basis: 50px
}

a.btn.btn-primary, button.btn-primary {
    background: #e75353;
    border: none;
}
