<div class="container">
    <div class="ProductItem" *ngFor="let product of products">
        <div class="ProductItem__Row row">
            <div class=" col-xs-5 col-md-3">
                <a [routerLink]="['/product', product.partNumber]">
                    <div class="proportional-image-wrapper catalog-product__image-preview">
                        <div class="proportional-image-wrapper-boundary" style="padding-bottom:74.07407407407408%"></div>
                        <div class="images-preview">
                            <div class="images-preview-item" [ngClass]="{'is-active': index == 0}" *ngFor="let image of product.images; let index=index">
                                <img class="lazyloaded" alt="Image" [src]="image">
                            </div>
                        </div>
                    </div>
                </a>
                <div *ngIf="product.prices.discountPercentage !=0" class="catalog-product-details__discount-tag">-{{product.prices.discountPercentage}}%</div>
                <div class="ProductItem__LeftPrice catalog-product-details__prices">
                    <div class="catalog-prices">
                        <ul class="catalog-prices__list">
                            <li *ngIf="product.prices.formattedListPrice" class="catalog-prices__list-price catalog-prices__lowest catalog-prices__line_thru" title="Precio Normal">{{product.prices.formattedListPrice}}</li>
                            <li *ngIf="product.prices.formattedOfferPrice" class="catalog-prices__offer-price" title="Precio Internet">{{product.prices.formattedOfferPrice}}</li>
                            <li *ngIf="product.prices.formattedCardPrice" class="catalog-prices__card-price" title="Precio Ripley">{{product.prices.formattedCardPrice}}
                                <img *ngIf="product.prices.cardPrice" class="catalog-prices__card-price-image" src="//static.ripley.cl/images/opex.png" alt="Precio Tarjeta Ripley">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-md-9">
                <div class="row flexs">
                    <div class="col-md-7">
                        <ng-container *ngIf="product.attributes != null && product.attributes.length > 0 && product.attributes[0].name == 'Marca'">
                            <div class="catalog-product-name-container">
                                <div class="catalog-product-details__logo-container">
                                    <div class="brand-logo"><span>{{product.attributes[0].value}}</span></div>
                                </div>
                            </div>
                        </ng-container>
                        <div class="ProductItem__Name"><a [routerLink]="['/product', product.partNumber]" class="ProductItem__Name">{{product.name}}</a></div>
                        <div class="ProductSpec">
                            <ul class="ProductSpec__List">
                                <ng-container *ngFor="let attr of product.attributes; let index=index">
                                    <li *ngIf="index < 5" class="ProductSpec__ListItem">
                                        <span class="ProductSpec__AttributeName">{{attr.name}}</span>:
                                        <span class="ProductSpec__AttributeValue">{{attr.value}}</span>
                                    </li>
                                </ng-container>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-5 space--between">
                        <div class="ProductItem__RightPrice catalog-product-details__prices">
                            <div class="catalog-prices">
                                <ul class="catalog-prices__list">
                                    <li *ngIf="product.prices.formattedListPrice" class="catalog-prices__list-price catalog-prices__lowest catalog-prices__line_thru" title="Precio Normal">{{product.prices.formattedListPrice}}</li>
                                    <li *ngIf="product.prices.formattedOfferPrice" class="catalog-prices__offer-price" title="Precio Internet">{{product.prices.formattedOfferPrice}}</li>
                                    <li *ngIf="product.prices.formattedCardPrice" class="catalog-prices__card-price" title="Precio Ripley">{{product.prices.formattedCardPrice}}
                                        <img *ngIf="product.prices.cardPrice" class="catalog-prices__card-price-image" src="//static.ripley.cl/images/opex.png" alt="Precio Tarjeta Ripley">
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="ProductItem__buttons">
                            <div class="">
                                <div>
                                    <button data-style="expand-right" data-product-id="19996883"
                                            class="btn-loading  BuyButton btn-primary btn-loading js-buy-button">Agregar a
                                        la bolsa
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
