<h1 class="header">Inicia sesi&oacute;n con tu correo</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <label for="email">Correo electr&oacute;nico</label>
                    <input type="email" formControlName="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="password">Contrase&ntilde;a</label>
                    <input type="password" class="form-control" formControlName="password" id="password" autocomplete>
                    <label class="error">{{errorMessage}}</label>
                </div>
                <button type="submit" (click)="tryLogin(loginForm.value)" class="btn btn-primary">Iniciar sesi&oacute;n</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <p>¿No tienes cuenta a&uacute;n? <a [routerLink]="'/register'">Crear cuenta</a></p>
        </div>
    </div>
</div>
