<div class="container">
    <div class="row" id="row">
        <div class="col-xs-12 col-sm-12 col-md-7">
            <section class="product-images js-product-images-container">
                <ul class="product-image-previews">
                    <li class="thumbnail-item is-active">
                        <img alt="{{product?.name}}" class=" lazyloaded" itemprop="image" [src]="product?.fullImage">
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-5">
            <section class="product-header hidden-xs">
<!--                <div class="brand-logo has-logo"-->
<!--                     style="background-image:url(//home.ripley.cl/brand-logos/lenovo.svg)"></div>-->
                <h1>{{product?.name}}</h1><small>SKU: <span
                    class="sku">{{product?.partNumber}}</span></small>
                <div class="product-rating product-rating-small">
                    <div class="stars-ranking stars-ranking-sprite--small stars-ranking-0 "></div>
                    <span class="product-rating-text">(<span>Sin</span> Calificaciones)</span></div>
                <div class="product-short-description">{{product?.shortDescription}}</div>
            </section>
            <section class="product-info">
                <ul>
                    <li *ngIf="product?.prices.formattedListPrice" class="product-normal-price"><span class="product-price-type">Normal</span><span
                            class="product-price product-price__line-thru">{{product?.prices.formattedListPrice}}</span></li>
                    <li *ngIf="product?.prices.formattedOfferPrice" class="product-internet-price-not-best"><span class="product-price-type">Internet</span><span
                            class="product-price">{{product?.prices.formattedOfferPrice}}</span></li>
                    <li *ngIf="product?.prices.formattedCardPrice" class="product-ripley-price"><span class="product-price-type">Tarjeta Ripley / Chek</span>
                        <span class="product-price">
                            <img src="//static.ripley.cl/images/opex.png" alt="Precio Tarjeta Ripley" style="padding-right: 5px">
                            <img src="//static.ripley.cl/images/chek-morado.svg" alt="Precio Tarjeta Ripley" style="padding-right: 5px">{{product?.prices.formattedCardPrice}}
                        </span>
                    </li>
                    <li *ngIf="product?.prices.discount > 0" class="product-price-discount"><span class="product-price-type">Descuento</span><span
                            class="product-discount-tag"><span class="discount-percentage">-{{product?.prices.discountPercentage}}%</span> </span></li>
                    <li class="product-ripley-puntos"><span class="product-price-type">Acumulas</span><span
                            class="product-price">{{product?.prices.ripleyPuntos}} RipleyPuntos GO</span></li>
                </ul>
            </section>
            <div class="delivery-pickup-commune">
                <div class="commune-selector">
                    <div class="text-container">
                        <span>Consulta disponibilidad de despacho</span>
                    </div>
                </div>
            </div>
            <section class="product-extras"></section>
            <div></div>
            <section class="product-buy-options">
                <div class="no-gutter clearfix">
                    <div class="col-xs-4 col-sm-4 col-lg-3">
                        <div class="stepper custom-select product-quantity-input">
                            <button class="stepper-control stepper-control-increase" title="Más">+</button>
                            <div class="stepper-value">1</div>
                            <button class="stepper-control stepper-control-decrease" title="Menos">-</button>
                        </div>
                    </div>
                    <div class="col-xs-8 col-sm-8 col-lg-9">
                            <button data-style="expand-right" data-product-id="19996883" id="buy-button"
                                    class="btn-loading  btn-primary btn-loading js-buy-button">Agregar a la bolsa
                            </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
