/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

* {
    margin: 0;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("assets/fonts/montserrat-regular-webfont.woff2") format("woff2");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("assets/fonts/montserrat-light-webfont.woff2") format("woff2");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Montserrat;
    font-display: swap;
    src: url("assets/fonts/montserrat-semibold-webfont.woff2") format("woff2");
    font-weight: 600;
    font-style: normal
}

$theme-colors: (
        "primary": #4f2e7d,
        "red": #e75353,
);


@import "~bootstrap/scss/bootstrap";
